
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "Pixie Stitch"
		VALUE "InternalName", "pixie_stitch.exe"
		VALUE "OriginalFilename", "pixie_stitch.exe"
		VALUE "CompanyName", "SnailSpaceGames"
		VALUE "LegalCopyright", "SnailSpaceGames - Copyright (C) 2020"
		VALUE "ProductName", "Pixie Stitch"
		VALUE "FileVersion", "1.0.0.0"
		VALUE "ProductVersion", "1.0.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}
